//@import "/bower_components/bootstrap/less/bootstrap.less";
@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/normalize.less";
@import "/bower_components/bootstrap/less/type.less";
@import "/bower_components/bootstrap/less/scaffolding.less";
@import "/bower_components/bootstrap/less/grid.less";
@import "/bower_components/bootstrap/less/utilities.less";
@import "/bower_components/bootstrap/less/forms.less";
@import "/bower_components/bootstrap/less/buttons.less";
@import "/bower_components/bootstrap/less/type.less";
@import "/bower_components/bootstrap/less/mixins/clearfix.less";
@import "/bower_components/bootstrap/less/mixins/grid-framework.less";
@import "/bower_components/bootstrap/less/mixins/grid.less";
@import "/bower_components/bootstrap/less/mixins/text-emphasis.less";
@import "/bower_components/bootstrap/less/mixins/background-variant.less";
@import "/bower_components/bootstrap/less/mixins/text-overflow.less";
@import "/bower_components/bootstrap/less/mixins/vendor-prefixes.less";
@import "/bower_components/bootstrap/less/mixins/tab-focus.less";
@import "/bower_components/bootstrap/less/mixins/image.less";
@import "/bower_components/bootstrap/less/mixins/center-block.less";
@import "/bower_components/bootstrap/less/mixins/hide-text.less";
@import "/bower_components/bootstrap/less/mixins/forms.less";
@import "/bower_components/bootstrap/less/mixins/buttons.less";
@import "/bower_components/bootstrap/less/mixins/opacity.less";

@gray: #e5e5e5;

.icon {
  font-family: FontAwesome;
}

.btn-icon {
  float: right;
  padding: 2px;
  line-height: 1;
  margin-top: 10px;
  border: none;
  font-size: 25px;
  width: 30px;
}

.btn-default {
  color: @brand-primary;
}

.form-control {
  color: #555;
}

.form-group {
  margin-bottom: 2px;
}

.bordered-zone {
  border: solid 1px @gray;
  border-radius: 6px;
}

.cover {
  &:extend(.img-responsive);
  &:extend(.img-thumbnail);
}

.app {
  &:extend(.container);
}

.sources {
  &:extend(.pull-right);
  margin-top: @line-height-computed;
  font-size: @font-size-large;

  &:before {
    content: "\f09b";
    .icon();
  }
}

.main {
  .make-row();
}

.series {
  .make-md-column(3);
  .make-xs-column(12);

  .filter {
    &:extend(.form-control);
    display: inline-block;
    width: 80%
  }

  .sort {
    &:extend(.btn);
    &:extend(.btn-default);
    .btn-icon();

    float: right;
    margin-top: 3px;
    background-color: @brand-primary;
    color: @body-bg;

    &.asc:before {
      content: "\f0d7";
      .icon();
    }

    &.desc:before {
      content: "\f0d8";
      .icon();
    }
  }

  .series-list {
    margin: 20px 0;
    padding-left: 0;

    .series-item {
      list-style: none;
      border: solid 1px @gray;
      border-bottom: none;
      overflow: hidden;

      &:first-of-type {
        border-radius: 6px 6px 0 0;
      }

      &:last-of-type {
        border-bottom: solid 1px @gray;
        border-radius: 0 0 6px 6px;
      }

      a {
        text-align: left;
        padding: 10px;
        display: block;

        &.active, &:hover {
          background-color: @brand-primary;
          color: @body-bg;
          text-decoration: none;
        }

        &.add {
          &:before {
            content: "\f0fe";
            .icon();
          }

          font-size: 2em;
          text-align: center;
          color: @gray-light;
          background-color: @gray-lighter;
        }
      }

    }
  }
}

.series-details {
  .make-md-column(5);
  .make-xs-column(12);
  .bordered-zone();
  background-color: @brand-primary;
  text-align: center;

  h3 {
    color: @body-bg;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 13px;
  }

  .cover {
    height: 250px;
    width: 190px;
    padding: 10px;
  }

  .edit {
    &:extend(.btn);
    &:extend(.btn-default);
    &:extend(.btn-icon);
    &:before {
      content: "\f040";
      .icon();
    }

    &:hover {
      text-decoration: none;
    }
  }

  .zone {
    margin-top: 10px;
    padding: 10px;
    background-color: @body-bg;
    text-align: left;
  }

  .description {
    .zone();
    .bordered-zone();
    .dl-horizontal();

    dt {
      text-align: left;
      width: 120px;
    }

    dd {
      margin-left: 130px;
    }
  }

  .summary {
    .zone();
    .bordered-zone();
    margin-bottom: 15px;
  }

}

form.series-details {
  .form-horizontal();

  input {
    &:extend(.form-control);
  }

  textarea {
    &:extend(.form-control);
    &:extend(textarea.form-control);
  }

  .submit {
    &:extend(.btn);
    &:extend(.btn-success);
    &:extend(.btn-icon);
    &:before {
      content: "\f00c";
      .icon();
    }
    margin-left: 5px;
  }

  .cancel {
    &:extend(.btn);
    &:extend(.btn-danger);
    &:extend(.btn-icon);
    &:before {
      content: "\f00d";
      .icon();
    }
  }

  .title, .scriptwriter, .illustrator, .publisher {
    &:extend(.form-group);
    .clearfix();

    label {
      .make-sm-column(3);
      padding-top: 7px;
    }

    .control {
      .make-sm-column(9);
    }
  }

  .title {
    margin-left: 0;

    input {
      margin: 10px 0 10px;
      width: 80%;
      text-align: left;
      font-size: 24px;
    }
  }
}

.series-albums {
  .make-md-column(4);
  .make-xs-column(12);

  ul {
    margin: 20px 0;
    padding-left: 10px;
  }

  .album {
    .make-row();
    list-style: none;
    .bordered-zone();
    padding: 10px;
    margin-bottom: 10px;
    background-color: @brand-primary;
    color: @body-bg;

    h4 {
      margin-top: 0;
    }

    .cover {
      .make-xs-column(2);
      max-height: 70px;
      border: none;
      padding: 2px;
    }

    .description {
      .make-xs-column(10);

      dl {
        .dl-horizontal();
        margin-bottom: 0;

        dt {
          width: 75px;
          text-align: left;
        }

        dd {
          margin-left: auto;
        }
      }
    }
  }
}
