//@import "/bower_components/bootstrap/less/bootstrap.less";

@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/normalize.less";
@import "/bower_components/bootstrap/less/type.less";
@import "/bower_components/bootstrap/less/scaffolding.less";
@import "/bower_components/bootstrap/less/grid.less";
@import "/bower_components/bootstrap/less/utilities.less";
@import "/bower_components/bootstrap/less/mixins/clearfix.less";
@import "/bower_components/bootstrap/less/mixins/grid-framework.less";
@import "/bower_components/bootstrap/less/mixins/grid.less";
@import "/bower_components/bootstrap/less/mixins/text-emphasis.less";
@import "/bower_components/bootstrap/less/mixins/background-variant.less";
@import "/bower_components/bootstrap/less/mixins/text-overflow.less";
@import "/bower_components/bootstrap/less/mixins/vendor-prefixes.less";
@import "/bower_components/bootstrap/less/mixins/tab-focus.less";
@import "/bower_components/bootstrap/less/mixins/image.less";
@import "/bower_components/bootstrap/less/mixins/center-block.less";
@import "/bower_components/bootstrap/less/mixins/hide-text.less";

@gray: #e5e5e5;

.icon {
  font-family: FontAwesome;
  padding: 5px;
}

.app {
  &:extend(.container);
}

.sources {
  &:extend(.pull-right);
  margin-top: @line-height-computed;
  font-size: @font-size-large;

  &:before {
    content: "\f09b";
    .icon();
  }
}

.main {
  .make-row();

  .series {
    .make-md-column(3);
    .make-xs-column(12);

    .series-list {
      margin: 20px 0;
      padding-left: 0;

      .series-item {
        list-style: none;
        border: solid 1px @gray;
        border-bottom: none;
        overflow: hidden;
        padding: 10px;

        &:first-of-type {
          border-radius: 6px 6px 0 0;
        }

        &:last-of-type {
          border-bottom: solid 1px @gray;
          border-radius: 0 0 6px 6px;
        }

      }
    }
  }
}
